.allocation {
	margin-bottom: 145px;
}
.allocation__title {
	margin-bottom: 80px;
}

.allocation__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.allocation__item {
	margin-bottom: 60px;
}
.allocation-item {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 196px;
	width: 100%;
}
.allocation-item__digit {
	font-family: "Moyenage";
	font-size: 70px;
	line-height: 70px;
	text-shadow: -10px 10px 20px rgba(255, 248, 186, 0.1);
	-webkit-text-stroke-width: 1px;
	background: -webkit-linear-gradient(270deg, #ffffda 1.37%, #252525 118.09%);
	-webkit-background-clip: text;
	-webkit-text-stroke: 3px transparent;
	color: #020202;
	margin-right: 7px;
	padding: 5px 0;
	transform: translateY(8px);
}
.allocation-item__content {
}
.allocation-item__percent {
}
.allocation-item__title {
	font-family: "Resavska";
	font-size: 18px;
	line-height: 120%;
	color: #cfcfb0;
}
.allocation-item__subtitle {
	font-family: "Montserrat";
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: rgba(207, 207, 176, 0.5);
}

@media (max-width: 600px) {
	.allocation {
		margin: 0 -15px 60px -15px;
	}
	.allocation__inner {
		justify-content: center;
	}
	.allocation__title {
		margin-bottom: 50px;
	}
	.allocation__item {
		margin-bottom: 20px;
	}
	.allocation-item__percent {
		width: 20px;
		height: 20px;
	}
	.allocation-item__title {
		font-size: 16px;
		line-height: 140%;
	}
	.allocation-item__subtitle {
		font-size: 13px;
		line-height: 20px;
	}
	.allocation-item__percent img {
		width: 100%;
		height: 100%;
	}
	.allocation-item__digit {
		font-size: 62px;
		line-height: 62px;
	}
}