.partners {
	margin-bottom: 140px;

	&__title {
		margin-bottom: 40px;
	}

	&__content {
		max-width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 25px 35px;
		flex-wrap: wrap;
	}

	&__item {
		img {
			max-height: 46px;
		}
	}
}
@media (max-width: 630px) {
	.partners {
		margin-bottom: 80px;
	}
}